<div class="color posicion border">
    <div class="container content-wrapper-scroll-y content-custom-scrollbar">
        <div>
            <h1>Resumen:</h1>
        </div>
        <hr>
        <br>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-1">
                        <h6 class="my-0 fw-normal">Filtro</h6>
                    </div>
                    <div class="card-body d-flex">
                        <input id="startDate" class="form-control" type="date" />
                        <button type="button" class="w-30 btn btn-lg btn-primary my-1 mx-1 py-1">OK</button>
                    </div>
                    <button type="button" class="btn btn-lg btn-outline-primary m-1">Volver al Mes Actual</button>
                </div>
            </div>
        </div>


        <hr>
        <div class="responsive-table container">
            <h5>Categorizados</h5>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">N° Factura</th>
                        <th scope="col">Fecha Emisión</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Creada Por</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col" class="text-center">123123123</th>
                        <td scope="col">Miercoles 22 de Marzo</td>
                        <td scope="col">Pendiente</td>
                        <td scope="col">Omar Guerra A.</td>
                        <td scope="col">Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">123123123</th>
                        <td scope="col">Miercoles 22 de Marzo</td>
                        <td scope="col">Pendiente</td>
                        <td scope="col">Omar Guerra A.</td>
                        <td scope="col">Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">123123123</th>
                        <td scope="col">Miercoles 22 de Marzo</td>
                        <td scope="col">Pendiente</td>
                        <td scope="col">Omar Guerra A.</td>
                        <td scope="col">Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">123123123</th>
                        <td scope="col">Miercoles 22 de Marzo</td>
                        <td scope="col">Pendiente</td>
                        <td scope="col">Omar Guerra A.</td>
                        <td scope="col">Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">123123123</th>
                        <td scope="col">Miercoles 22 de Marzo</td>
                        <td scope="col">Pendiente</td>
                        <td scope="col">Omar Guerra A.</td>
                        <td scope="col">Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">123123123</th>
                        <td scope="col">Miercoles 22 de Marzo</td>
                        <td scope="col">Pendiente</td>
                        <td scope="col">Omar Guerra A.</td>
                        <td scope="col">Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">123123123</th>
                        <td scope="col">Miercoles 22 de Marzo</td>
                        <td scope="col">Pendiente</td>
                        <td scope="col">Omar Guerra A.</td>
                        <td scope="col">Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">123123123</th>
                        <td scope="col">Miercoles 22 de Marzo</td>
                        <td scope="col">Pendiente</td>
                        <td scope="col">Omar Guerra A.</td>
                        <td scope="col">Compra de insumos informaticos</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>