<div class="color posicion border">
    <div class="container-fluid">
        <h1>Categorizador de Facturas</h1>
        <hr>
        <div class="responsive-table container">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">N° Factura</th>
                        <th scope="col">Fecha Emisión</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Creada Por</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center" scope="row">
                            <a href="">2312412541</a>
                        </th>
                        <td>Miercoles 22 de Marzo</td>
                        <td>Pendiente</td>
                        <td>Omar Guerra A.</td>
                        <td>Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">2392491</th>
                        <td>Miercoles 22 de Marzo</td>
                        <td>Pendiente</td>
                        <td>Omar Guerra A.</td>
                        <td>Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">2392491</th>
                        <td>Miercoles 22 de Marzo</td>
                        <td>Pendiente</td>
                        <td>Omar Guerra A.</td>
                        <td>Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">2392491</th>
                        <td>Miercoles 22 de Marzo</td>
                        <td>Pendiente</td>
                        <td>Omar Guerra A.</td>
                        <td>Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">2392491</th>
                        <td>Miercoles 22 de Marzo</td>
                        <td>Pendiente</td>
                        <td>Omar Guerra A.</td>
                        <td>Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">2392491</th>
                        <td>Miercoles 22 de Marzo</td>
                        <td>Pendiente</td>
                        <td>Omar Guerra A.</td>
                        <td>Compra de insumos informaticos</td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">2392491</th>
                        <td>Miercoles 22 de Marzo</td>
                        <td>Pendiente</td>
                        <td>Omar Guerra A.</td>
                        <td>Compra de insumos informaticos</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>