.color {
    background-color: #f5f5f5;
}

.posicion {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 94vh;
    width: 174vh;
}

.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my-custom-scrollbar {
    position: relative;
    height: 70vh;
    width: 100%;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}


.content-wrapper-scroll-y {
    position: relative;
    height: 92vh;
    width: 100%;
    overflow: auto;
}

.content-custom-scrollbar {
    display: block;
}

.btnContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}