<app-header></app-header>
<div class="p-3 bg-light border" style="width: 280px; height: 95vh;">
    <a class="d-flex align-items-center pb-3 mb-3 link-dark">
        <img class="logo" src="../assets/img/valpo.png" alt="">
    </a>
    <ul class="list-unstyled ps-0">
        <strong><small>Menu</small></strong>
        <li class="mb-1">
            <button routerLink="/home" class="btn btn-toggle-inicio align-items-center rounded" aria-expanded="true">
                <img src="../../../assets/icon/house.svg" alt="" class="icon">
                Inicio
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="false">
                <img src="../../../assets/icon/people.svg" alt="" class="icon">
                Clientes
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-dark rounded" routerLink="/client">Ver Clientes</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#finance-collapse" aria-expanded="false">
                <img src="../../../assets/icon/clipboard-data.svg" alt="" class="icon">
                Finanzas
            </button>
            <div class="collapse" id="finance-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-dark rounded" routerLink="/category-factura" routerLinkActive="active">Categorizador de Facturas <span class="badge bg-dark rounded-pill m-1">10</span></a></li>
                    <li><a class="link-dark rounded" routerLink="/factura" routerLinkActive="active">Facturas</a></li>
                    <li><a class="link-dark rounded" routerLink="/orden-compra" routerLinkActive="active">Ordenes de Compra</a></li>
                    <li><a class="link-dark rounded" routerLink="/libro-banco" routerLinkActive="active">Libro de Banco</a></li>
                    <li><a class="link-dark rounded" routerLink="/flujo-caja" routerLinkActive="active">Flujo de Caja</a></li>
                    <li><a class="link-dark rounded" routerLink="/flujo-efectivo" routerLinkActive="active">Flujo de Efectivo</a></li>
                    <li><a class="link-dark rounded" routerLink="/pre-ejecutado" routerLinkActive="active">Presupuesto Ejecutado</a></li>
                    <li><a class="link-dark rounded" routerLink="/mantenedor" routerLinkActive="active">Mantenedor Cuentas Contables</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                <img src="../../../assets/icon/file-earmark-person.svg" alt="" class="icon">
                Recursos Humanos
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a routerLink="/colaboradores" class="link-dark rounded">Colaboradores</a></li>
                    <li><a routerLink="/remuneraciones" class="link-dark rounded">Remuneraciones</a></li>
                </ul>
            </div>
        </li>

    </ul>
    <hr>
    <div class="mB">
        <strong><small>Perfil</small></strong>
    </div>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/img/avatar.jpg" alt="" width="50" height="50" class="rounded-circle me-2">
            <div class="datosPerfil">
                <strong>Omar Guerra A.</strong>
                <small>omar.Guerra@valposystems.com</small>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li>
                <a class="dropdown-item" href="#">Perfil</a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</div>