<div class="color posicion border">
    <div class="container content-wrapper-scroll-y content-custom-scrollbar">
        <h1>Pasivos</h1>
        <hr>
        <div class="responsive-table">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">
                            <div>Cod Contable</div>
                        </th>
                        <th scope="col">
                            <div>Nombre Categoria</div>
                        </th>
                        <th scope="col">
                            <span>Total</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cat of catPasivo">
                        <th class="text-center" scope="row">{{cat.cod}}</th>
                        <th>{{cat.nombre_cod}}</th>
                        <th class="spacing">
                            {{cat.valor | mount}}
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="responsive-table">
            <table class="table table-bordered table-sm">
                <thead class="text-center">
                    <tr>
                        <th scope="col">
                            <div>Sub Categoria</div>
                        </th>
                        <th scope="col">
                            <div>Indicadores</div>
                        </th>
                        <th scope="col">
                            <span>Sub Indicadores</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Codigo Contable</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cat2 of subPasivo">
                                        <th class="text-center" scope=row>{{cat2.cod}}</th>
                                        <td>{{cat2.nombre_cod}}</td>
                                        <td *ngIf="cat2.valor == 0 else catValor">
                                            <div class="input-group has-validation">
                                                <span class="input-group-text">$</span>
                                                <input type="text" class="form-control">
                                            </div>
                                        </td>
                                        <ng-template #catValor>
                                            <th class="spacing">
                                                {{cat2.valor | mount}}
                                            </th>
                                        </ng-template>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-striped table-sm table-wrapper-scroll-y my-custom-scrollbar">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Codigo Contable</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cat2 of subSubPasivo">
                                        <th class="text-center" scope=row>{{cat2.cod}}</th>
                                        <td>{{cat2.nombre_cod}}</td>
                                        <td *ngIf="cat2.valor == 0 else catValor">
                                            <div class="input-group has-validation">
                                                <span class="input-group-text">$</span>
                                                <input type="text" class="form-control">
                                            </div>
                                        </td>
                                        <ng-template #catValor>
                                            <th class="spacing">
                                                {{cat2.valor | mount}}
                                            </th>
                                        </ng-template>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-striped table-sm table-wrapper-scroll-y my-custom-scrollbar">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Codigo Contable</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cat3 of indPasivo">
                                        <th class="text-center" scope="row">{{cat3.cod}}</th>
                                        <td>{{cat3.nombre_cod}}</td>
                                        <td *ngIf="cat3.valor == 0 else catValor">
                                            <div class="input-group has-validation">
                                                <span class="input-group-text">$</span>
                                                <input type="text" class="form-control">
                                            </div>
                                        </td>
                                        <ng-template #catValor>
                                            <th class="spacing">
                                                {{cat3.valor | mount}}
                                            </th>
                                        </ng-template>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>