<div class="color posicion border">
    <div class="container content-wrapper-scroll-y content-custom-scrollbar">
        <h1>Activos</h1>
        <hr>
        <div class="responsive-table">
            <table class="table table-bordered table-sm table-wrapper">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Codigo Contable</th>
                        <th scope="col">
                            <div>Categoria</div>
                        </th>
                        <th scope="col">
                            <span>Sub Categoria</span>
                        </th>
                        <th scope="col">
                            <span>Indicadores</span>
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let cat of cat">
                    <tr>
                        <th class="text-center" scope="row">{{cat.cod}}</th>
                        <th>{{cat.nombre_cod}}</th>
                        <td>
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Codigo Contable</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Valores</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cat2 of sub">
                                        <th class="text-center" scope=row>{{cat2.cod}}</th>
                                        <td>{{cat2.nombre_cod}}</td>
                                        <th class="spacing">
                                            {{cat2.valor | mount}}
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Codigo Contable</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Valores</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cat3 of ind">
                                        <th class="text-center" scope="row">{{cat3.cod}}</th>
                                        <td>{{cat3.nombre_cod}}</td>
                                        <td *ngIf="cat3.valor == 0 else catValor">
                                            <div class="input-group has-validation">
                                                <span class="input-group-text">$</span>
                                                <input type="text" class="form-control" id=""
                                                    placeholder="Ingrese Valor">
                                            </div>
                                        </td>
                                        <ng-template #catValor>
                                            <th class="spacing">
                                                {{cat3.valor | mount}}
                                            </th>
                                        </ng-template>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>